@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  color: #374151;
  background: #6ee7b7;
  min-height: 100vh;
  max-width: 100%;
}

.App-input {
  width: 70%;
  padding: 0.55rem;
  border: 1.5px solid #374151;
  border-radius: 0.25rem;
  font-size: 1.15rem;
}

.App-span {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.65rem 1rem 0.4rem 0rem;
  padding: 0.5rem;
  background: #93c5fd;
  border-radius: 50%;
}

.App-span:hover {
  background: #bfdbfe;
}

.App-div {
  max-width: 70%;
  height: 40%;
}

.quote {
  margin-block-start: 0.7em;
  margin-block-end: 0em;
  font-size: 1.25rem;
  font-weight: bold;
}

.ans {
  border: 1px solid black;
  width: 300px;
  padding: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
